body {
    margin: 0;
}

.logo {
    background-color: #48dbfb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

img {
    width: 120px;
    
    margin-left: 10px;
}

ul li {
    list-style-type: none;
}

.main-menu>ul {
    padding: 0;
    margin: 0;
}

.main-menu {
    display: flex;
    position: fixed;
    top: 50px;
    left: 0px;
    height: max-content;
}

a {
    display: block;
    text-decoration: none;
    color: #757575;
    font-size: 18px;
    padding-top: 15px;
}

.dien-tu, .phu-kien, .gia-dung, .suc-khoe, .tap-hoa, .thoi-trang, .gia-dung {
    padding-left: 10px;
    background-color: #f7d794;
    width: 100%;
    height: max-content;
    transition: 0.3s;
}

.dien-tu:hover, .phu-kien:hover, .gia-dung:hover, .suc-khoe:hover, .tap-hoa:hover, .thoi-trang:hover {
    background-color: white;
}

.dien-tu {
    display: flex;
    position: relative;
}

.phu-kien {
    display: flex;
}

.sub-dien-tu {
    display: block;
    position: absolute;
    top: 0;
    left: 145px;
    width: max-content;
    transition: 0.3s;
    display: none;
}

.sub-phu-kien {
    display: block;
    position: absolute;
    top: 0;
    left: 145px;
    width: max-content;
    transition: 0.3s;
    display: none;
}

.sub-gia-dung {
    display: block;
    position: absolute;
    top: 0;
    left: 145px;
    width: max-content;
    transition: 0.3s;
    display: none;
}

.sub-dien-tu>ul {
    padding-inline-start: 44px;
}

.sub-phu-kien>ul {
    padding-inline-start: 44px;
}

.sub-gia-dung>ul {
    padding-inline-start: 44px;
}

.main-menu .dien-tu:hover .sub-dien-tu {
    display: flex;
}

.main-menu .phu-kien:hover .sub-phu-kien {
    display: flex;
}

.main-menu .gia-dung:hover .sub-gia-dung {
    display: flex;
}

.dien-tu>i {
    margin-left: 50px;
    position: absolute;
    top: 18px;
    left: 123px;
    transition: 0.3s;
    display: none;
}

.phu-kien>i {
    margin-left: 50px;
    position: absolute;
    top: 54px;
    left: 123px;
    transition: 0.3s;
    display: none;
}

.gia-dung>i {
    margin-left: 50px;
    position: absolute;
    top: 89px;
    left: 123px;
    transition: 0.3s;
    display: none;
}

.main-menu .dien-tu:hover i {
    display: block;
    color: red;
}

.main-menu .phu-kien:hover i {
    display: block;
    color: blue;
}

.main-menu .gia-dung:hover i {
    display: block;
    color: purple;
}