body {
  margin: 0;
  background-color: #6b6b83;
}

.container,
.container1,
.container2 {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 40px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
  margin: 20px;
  margin-top: 0;
  border: 3px solid white;
  width: max-content;
  max-height: min-content;
}

img {
  width: 200px;
  height: 100%;
  transition: 1;
}

img:hover {
  border: 3px solid #fff200;
  transform: scale(1.5);
}
