.tuyenngon {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    color: #576574;
    text-align: center;
    font-size: 1em;
}

.default {
    max-width: 794px;
    margin: auto;
}

#info {
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
}

.info1 {
    color: #000000;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
}

.text {
    font-size: 14px;
    color: #2f3640;
    text-align: justify;
}

.camon {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.date {
    font-weight: bold;
    font-size: 14px;
    width: max-content;
    margin-left: auto;
    margin-right: 0;
}

.user {
    text-align: center;
}

.chuky {
    font-style: italic;
    font-weight: normal;
}


.link {
    text-decoration: none;
    color: #10ac84;
    font-weight: bold;
}

#school {
    font-weight: bold;
    font-size: 14px;
}

#company {
    font-weight: bold;
    font-size: 14px;
}