body {
    background-color: #c8d6e5;
}

h1 {
    color:#3B3B98;
}

span {
    font-weight: bold;
    color: #ffa801;
}

ul li {
    font-size: 18px;
    font-family: Roboto-Regular;
}

ul {
    list-style-type: square;
}

.back >a {
    text-decoration: none;
    color: #10ac84;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 10px;
}




